  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% if hwsku == 'ACS-MSN2410' %}
    {% if index >= 48 %}
          <Speed>100000</Speed>
    {% else %}
          <Speed>25000</Speed>
    {% endif %}
{% elif hwsku == 'ACS-MSN2010' %}
    {% if index < 4 %}
        <Speed>25000</Speed>
    {% else %}
        <Speed>10000</Speed>
    {% endif %}
{% else %}
    {%- if port_alias[index] in port_speed and port_speed[port_alias[index]] != ""  %}
          <Speed>{{ port_speed[port_alias[index]] }}</Speed>
    {%- else %}
        {%- if (inventory_hostname == "arc-switch1041" or inventory_hostname == "arc-switch1025" or inventory_hostname == "arc-switch1004" or inventory_hostname == "mts-sonic-dut" or inventory_hostname == "mtbc-sonic-03-2700") and index >= 30 %}
          <Speed>50000</Speed>
        {%- elif inventory_hostname == "arc-switch1004" and (index >= 16 and index <= 19) %}
          <Speed>10000</Speed>
        {%- elif inventory_hostname == "arc-switch1038" %}
            {%- if index >= 16 and index <= 19 %}
          <Speed>25000</Speed>
            {%- elif index >= 20 and index <= 21 %}
          <Speed>25000</Speed>
            {%- elif index >= 30 %}
          <Speed>25000</Speed>
            {%- else %}
          <Speed>{{ iface_speed }}</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "r-anaconda-10" and index >= 30 %}
          <Speed>10000</Speed>
        {%- elif inventory_hostname == "r-tigris-04" %}
          <Speed>25000</Speed>
        {%- else %}
          <Speed>{{ iface_speed }}</Speed>
        {%- endif %}
    {%- endif %}
{%- endif %}

        </a:EthernetInterface>
{% endfor %}
      </EthernetInterfaces>
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku>
      <ManagementInterfaces/>
    </DeviceInfo>
  </DeviceInfos>

