
  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% if hwsku == 'ACS-MSN2410' %}
    {% if index >= 48 %}
          <Speed>100000</Speed>
    {% elif index < 48 %}
          <Speed>25000</Speed>
    {% endif %}
{% else %}
    {%- if  port_speed[index] != ""  %}
          <Speed>{{ port_speed[index] }}</Speed>
    {%- else %}
        {%- if (inventory_hostname == "arc-switch1038" or inventory_hostname == "arc-switch1041" or inventory_hostname == "arc-switch1025" or inventory_hostname == "arc-switch1004" or inventory_hostname == "mts-sonic-dut") and index >= 30 %}
          <Speed>50000</Speed>
        {%- else %}
          <Speed>{{ iface_speed }}</Speed>
        {%- endif %}
    {%- endif %}
{%- endif %}

        </a:EthernetInterface>
{% endfor %}
      </EthernetInterfaces>
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku>
      <ManagementInterfaces/>
    </DeviceInfo>
  </DeviceInfos>

